<br>
<div class="container">
    <div class="card">
        <div class="card-title">
            <h3 class="text-center p-2">Artículos</h3>
        </div>
        <div class="card-body">
            <div class="container articles" style="margin-left: 22%;">

                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let article of Articulos" (click)="detail_article(article)">
                                    <td>{{article.name}}</td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-dark" id="delete" type="button" data-toggle="modal"
                                            data-target="#updateOrSave"><i class="fas fa-user-edit"></i> Editar</button>
                                    </td>
                                    <td><button type="button" data-toggle="modal" data-target="#exampleModal"
                                            class="btn btn-dark" id="delete"><i class="fas fa-trash"></i>
                                            Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal para elimiar-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Esta Seguro de eliminar los Datos ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-dark" data-dismiss="modal"(click)="deleteArticle()">Si</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <br>
            <form [formGroup]="form_articulo" (ngSubmit)="saveOrupdate()">
                <input type="text" class="form-control" style="display: none;" [(ngModel)]="Articulo._id"
                    formControlName="_id">
                <div class="row mx-auto">
                    <div class="col">
                        <div class="form-group">
                            <label>Nombre del Artículo</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.name" formControlName="name">
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Proyecto de Investigación</label>
                            <select class="form-control" [(ngModel)]="Articulo.id_project" formControlName="id_project">
                                <option *ngFor="let project of Project" [value]="project._id">{{project.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Personas involucradas</label>
                            <div class="anadidos">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr *ngFor="let user of User" (click)="changePerson(user.names)">
                                            <td>{{user.names}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Personas añadidas</label>
                            <div class="anadidos">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let person of Articulo.personas;let i = index">
                                                    <td>{{person}}</td>
                                                    <td><i class="fas fa-backspace" (click)="quitPerson(i)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Aceptación</label>
                            <input type="date" class="form-control" [(ngModel)]="Articulo.fecha_aceptacion" formControlName="fecha_aceptacion">
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Publicación</label>
                            <input type="date" class="form-control" [(ngModel)]="Articulo.fecha_publicacion" formControlName="fecha_publicacion">
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label>DOI</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.doi" formControlName="doi">
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Año</label>
                            <select class="form-control" [(ngModel)]="Articulo.anio" formControlName="anio">
                                <option *ngFor="let i of Years" [value]="i">{{i}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Idioma</label>
                            <select class="form-control" [(ngModel)]="Articulo.idioma" formControlName="idioma">
                                <option *ngFor="let idioma of idioma" [value]="idioma.code">{{idioma.idioma}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Pais</label>
                            <select class="form-control" [(ngModel)]="Articulo.pais" formControlName="pais">
                                <option *ngFor="let pais of pais" [value]="pais.code">{{pais.pais}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Link del Artículo</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.link" formControlName="link">
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Revista - Congreso</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.revista" formControlName="revista">
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quartile</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.quartile" formControlName="quartile">
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">

                    <div class="col md-6">
                        <div class="form-group">
                            <label>ISSN</label>
                            <input type="text" class="form-control" [(ngModel)]="Articulo.issn" formControlName="issn">
                        </div>
                    </div>
                    <div class="col md-6">
                        <label>SJR ( SCImago Journal Rank )</label>
                        <input type="text" class="form-control" [(ngModel)]="Articulo.sjr" formControlName="sjr">
                    </div>
                    <div class="col md-6">
                        <label>ISBN</label>
                        <input type="text" class="form-control" [(ngModel)]="Articulo.isbn" formControlName="isbn">
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <label>Indice</label>
                        <select class="form-control" [(ngModel)]="Articulo.indice" formControlName="indice">
                            <option *ngFor="let indice of Indice" [value]="indice.id">{{indice.name}}</option>
                        </select>
                    </div>
                    <div class="col md-6">
                        <label>Tipo de Documento</label>
                        <select class="form-control" [(ngModel)]="Articulo.tipo_document" formControlName="tipo_document">
                            <option *ngFor="let doc of Documento" [value]="doc.id">{{doc.documento}}</option>
                        </select>
                    </div>
                    <div class="col md-6">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="text-align: center;">Guardar</button>
            </form><br>
        </div>
    </div>
</div>