
<br>
<div class="container">
    <div class="card">
        <div class="card-title">
            <h3 class="text-center">Artículos</h3>
        </div>
        <div class="card-body">
            <div class="container projects" style="margin-left: 22%;">

                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Linea de Investigación</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-dark" id="delete" type="button" data-toggle="modal"
                                            data-target="#updateOrSave"><i class="fas fa-user-edit"></i> Editar</button>
                                    </td>
                                    <td><button type="button" data-toggle="modal" data-target="#exampleModal"
                                            class="btn btn-dark" id="delete"><i class="fas fa-trash"></i>
                                            Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal para elimiar-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Esta Seguro de eliminar los Datos ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-dark" data-dismiss="modal"
                                    >Si</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <br>
            <form >
                <input type="text" class="form-control" style="display: none;" >
                <div class="row mx-auto">
                    <div class="col">
                        <div class="form-group">
                            <label>Nombre del Artículo</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Proyecto de Investigación</label>
                            <select class="form-control">
                                <option ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Personas involucradas</label>
                            <div class="anadidos">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr >
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Personas añadidas</label>
                            <div class="anadidos">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr >
                                                    <td></td>
                                                    <td><i class="fas fa-backspace"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Aceptación</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Publicación</label>
                            <input type="date" class="form-control" >
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tipo de Documento</label>
                            <select class="form-control">
                                <option ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label>Año</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Justificación</label>
                            <textarea type="text" class="form-control" style="height: 100px;"
                                > </textarea>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1"> Materiales</label>
                            <textarea type="text" class="form-control" style="height: 100px;"
                               > </textarea>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Objetivos</label>
                            <textarea class="form-control" ></textarea>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Presupuesto</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col md-6"></div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cronograma</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>

                    <div class="col md-6">
                        <div class="form-group">
                            <label>Artículo Generados</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col md-6"></div>
                </div>
                <div class="row mx-auto">
                    <div class="col md-6">
                        <label>Estado del Proyecto</label>
                        <select class="form-control" >
                            <option></option>
                        </select>
                    </div>
                    <div class="col md-6"></div>
                    <div class="col md-6"></div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>