.anadidos {
    max-height: 100px;
    position: relative;
    overflow: auto;
}
.container.articles {
    height: 200px;
    position: relative;
    overflow: auto;
    background-color: rgba(255, 255, 255, 60%);
}

button{
    background-color: #00bbb4;
}
.container {
    height: 1200px;
    position: relative;
    overflow: auto;
}
#archivo {
    height: 150px;
    position: relative;
    overflow: auto;
}