<!--SLIDER DE IMAGENES DEL HOME-->
<div class="row mx-auto" id="sliderM">
    <div class=" col lg-8">
        <div id="myCarousel" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->

            <div class="container">
                <div class="row mx-auto">

                </div>
                <div class="row mx-auto">
                    <div class="col lg-8">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                                <li data-target="#myCarousel" data-slide-to="6"></li>
                                <li data-target="#myCarousel" data-slide-to="7"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="../../../assets/sliderSoftware.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderMecanica.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderElectri.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderContabilidad.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderInfantil.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderProceso.PNG" alt="">
                                </div>
                                <div class="item">
                                    <img src="../../../assets/sliderScop.PNG" alt="">
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>










    <!--<br>
<div class="container">
    <h3 class="text-center">Sus proyectos de Investigación</h3>
    <div class="row mx-auto">
        <div class="col-md-4  p-2" *ngFor="let project of allProject;let i=index">
            <div class="card">
                <div class="card-body">
                    <b><label>Linea de Investigación</label></b>
                    <ul>
                        <li>{{project.linea_investigacion}}</li>
                    </ul>
                    <b><label>Fecha de Inicio</label></b>
                    <ul>
                        <li>{{project.fecha_inicio}}</li>
                    </ul>
                    <b><label>Fecha de Termino</label></b>
                    <ul>
                        <li>{{project.fecha_fin}}</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-dark" (click)="detailProject(i)">Detalle</button>
                <button type="submit" class="btn btn-dark" style="margin-left: 15px;">Eliminar</button>
            </div>
        </div>
    </div>
</div>-->