<!--<br>
<div class="container">
    <h3 class="text-center">Sus proyectos de Investigación</h3>
    <div class="row mx-auto">
        <div class="col-md-4  p-2" *ngFor="let project of allProject;let i=index">
            <div class="card">
                <div class="card-body">
                    <b><label>Linea de Investigación</label></b>
                    <ul>
                        <li>{{project.linea_investigacion}}</li>
                    </ul>
                    <b><label>Fecha de Inicio</label></b>
                    <ul>
                        <li>{{project.fecha_inicio}}</li>
                    </ul>
                    <b><label>Fecha de Termino</label></b>
                    <ul>
                        <li>{{project.fecha_fin}}</li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-dark" (click)="detailProject(i)">Detalle</button>
                <button type="submit" class="btn btn-dark" style="margin-left: 15px;">Eliminar</button>
            </div>
        </div>
    </div>
</div>-->