.anadidos {
    max-height: 100px;
    position: relative;
    overflow: auto;
}

button{
    background-color: #00bbb4;
}

.info{
    font-weight: normal;
}

.info{
    text-transform: uppercase;
}
.nodata{
    overflow: hidden;
    height: 100%;
}