<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="token && token != null">


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" routerLink="home"><i class="fas fa-house-user" aria-flowto="25"></i> Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="users"><i class="fas fa-user"></i> Personas<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="groupInvestigation"><i class="fas fa-users"></i> Grupos de
                    Investigación</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="proyectoInvestigacion"><i class="fas fa-project-diagram"></i>
                        Proyectos de Investigación</a>
                    <a class="dropdown-item" routerLink="seguimiento"><i class="fas fa-book"></i>
                        Seguimiento de Proyectos</a>
                    <a class="dropdown-item" routerLink="articulo"><i class="fas fa-newspaper"></i>
                        Artículos</a>
                    <a class="dropdown-item" routerLink="libros"><i class="fas fa-book-reader"></i>
                        Libros - Guias</a>
                    <a class="dropdown-item" routerLink="convenio"><i class="fas fa-file-signature"></i>
                        Convenios</a>
                    <a class="dropdown-item" routerLink="capacitacion"><i class="fas fa-chalkboard-teacher"></i>
                        Capacitaciones</a>
                </div>
            </li>
        </ul>
    </div>
</nav>