.anadidos {
    position: relative;
    overflow: auto;
}
.tablaa {
    max-height: 500px;
    position: relative;
    overflow: auto;
}
button{
    background-color: #00bbb4;
}
.anadidos1 {
    position: relative;
    overflow: auto;
    text-align: justify;
}