.container {
    background-color: rgba(255, 255, 255, 60%);
    ;
    min-height: 100%;
    min-width: 100%;
    padding-left: 30%;
}
.tabla.tabla-hover {
    max-height: 600px;
    position: relative;
    overflow: auto;
}

button{
    background-color: #00bbb4;
}
.tabla {
    max-height: 500px;
    position: relative;
    overflow: auto;
}