<br>

<body>
    <div class="container  table-wrapper-scroll-y my-custom-scrollbar">

        <!--Nuevo Registro-->
        <div class="row mx-auto" style="margin-block-end: auto;">
            <div class="col-md-8">
                <button mat-button class="btn btn-dark" type="button" data-toggle="modal" data-target="#updateOrSave" (click)="openModal()"><i class="fas fa-user-plus"></i> Nuevo
                    Usuario</button>
            </div>
        </div><br>
        <div class="row mx-auto">
            <div class="col-lg-10 col-lg-offset">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Identificación</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Nivel de Educación</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of allUsers" (click)="datos_usuario(user)">
                            <td>{{user.dni}}</td>
                            <td>{{user.names}}</td>
                            <td>{{user.nivel_educacion}}</td>
                            <td><button class="btn btn-dark" id="delete" type="button" data-toggle="modal" data-target="#updateOrSave"><i class="fas fa-user-edit"></i> Editar</button></td>
                            <td><button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-dark" id="delete"><i class="fas fa-trash"></i> Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal para elimiar-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Esta Seguro de eliminar los Datos ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-dark" data-dismiss="modal" (click)="deleteUser()">Si</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal con Registros -->
    <div class="modal fade" id="updateOrSave" tabindex="-1" role="document" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true" draggable="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="exampleModalLabel">Usuarios del Sistema</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--Nuevo Registro-->
                    <div>
                        <div>
                            <div>
                                <form role="form" [formGroup]="form_user" (ngSubmit)="newUser()" novalidate>
                                    <div class="row mx-auto">
                                        <input type="text" class="form-control" style="display: none;" [(ngModel)]="User._id" formControlName="_id"><br>
                                        <br>
                                        <div class="col-md-4">
                                            <label>Cédula:</label>
                                            <input type="text" class="form-control" [(ngModel)]="User.dni" formControlName="dni">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nombre Completo:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.names" formControlName="names">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Correo:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.email" formControlName="email">
                                                <div *ngIf='email.invalid && (email.dirty || email.touche)'>
                                                    <div *ngIf='email.errors.pattern'>
                                                        <label>ingrese un correo valido</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mx-auto">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Titulo:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.titulo" formControlName="titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nivel de Educación:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.nivel_educacion" formControlName="nivel_educacion">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Carrera:</label>
                                            <select class="form-control" [(ngModel)]="User.id_carrer" formControlName="id_carrer">
                                                <option *ngFor="let carrer of carreras" value="carrer.id">
                                                    {{carrer.nameCarrer}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mx-auto">
                                        <div class="col-md-4">
                                            <label>Genero:</label>
                                            <select name="miselect" class="form-control" [(ngModel)]="User.gender" formControlName="gender">
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Telefono:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.phone" formControlName="phone">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Horas:</label>
                                                <input type="number" class="form-control" [(ngModel)]="User.nroHorasDedicacionSemanal" formControlName="nroHorasDedicacionSemanal">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mx-auto">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Linea de Investigación:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.linea_investigacion" formControlName="linea_investigacion">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>ORCID:</label>
                                                <input type="text" class="form-control" [(ngModel)]="User.orcid" formControlName="orcid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" [disabled]="!form_user.valid" class="btn btn-dark"><i
                                                class="fas fa-save"></i> Guardar</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                                class="fas fa-user-times"></i> Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>