.anadidos{
    max-height: 160px;
    position: relative;
    max-width: 300px;
    overflow:auto;
}
.integrantes{
    max-height: 160px;
    position: relative;
    max-width: 300px;
    overflow:auto;
}