.card {
    background-color: rgba(255, 255, 255, 60%);
}

.anadidos {
    max-height: 160px;
    position: relative;
    max-width: 300px;
    overflow: auto;
}

.integrantes {
    max-height: 160px;
    position: relative;
    max-width: 300px;
    overflow: auto;
}

button{
    background-color: #00bbb4;
}
